
<div>
    <br />
    <h5 style="font-weight:bold;">SOMURME</h5>
    @{ //Birinci alan
    }
    <p style="font-weight:bold;">Somur 1</p>
    <div class="well">
        www.google.com.tr && cd C:\Users\Sylar\Desktop && mkdir deneme
    </div>
    <div style="text-align:left">
        <img id="profile-img" class="profile-img-card" src="/img/KomutSomurilk.png" />
    </div>
    <br />
    TextBox kısmına yukarıdaki gibi komut girildiğinde ilk kısımda belirtilen adrese ping gönderilerek sistemin açık olup olmadığı kontrol edilir.Birleşik
    komut yöntemi("&&") kullanılarak ilgili sistemin  masaüstüne deneme adında bir dizin oluşturulur
    <br />
    <br />
    <div class="well" style="text-align:left">
        <img id="profile-img" class="profile-img-card" src="/img/komutsomurme2.png" />
    </div>
    @{ //ikinci alan
    }
    <br />
    <p style="font-weight:bold;">Somur 2</p>
    <div class="well">
        www.google.com && ipconfig
    </div>
    <div style="text-align:left">
        <img id="profile-img" class="profile-img-card" src="/img/KomutSomur2.png" />
    </div>
    <br />
    TextBox kısmına yukarıdaki gibi komut girişi yapıldığında bulunduğun bilgisayarın yerel ağdaki Ip adres bilgisi aşağıdaki gibi görüntülenir. 
    <br />
    <div style="text-align:left">
        <img id="profile-img" class="profile-img-card" src="/img/komutsomurme4.png" />
    </div>
    <br />
    @{ //üçüncü alan
    }
    <br />
    <p style="font-weight:bold;">Somur 3</p>
    <div class="well">
        www.includekarabuk.com && cd C:\Users\Sylar\Desktop && rmdir deneme
    </div>
    <div style="text-align:left">
        <img id="profile-img" class="profile-img-card" src="/img/KomutSomur5.png" />
    </div>
    <br />
    Texbox kısmına yukarıdaki gibi bir komut girildiğinde ilgili adrese ping yollayarak,masaüstünde bulunan deneme adındaki
    dosyayı siler
    <br />
    @{ //dördüncü alan
    }
    <br />
    <p style="font-weight:bold;">Somur 4</p>
    <div class="well">
        www.includekarabuk.com && start chrome.exe twitter.com
    </div>
    <div style="text-align:left">
        <img id="profile-img" class="profile-img-card" src="/img/KomutSomur6.png" />
    </div>
    <br />
    Textbox kısmına yukarıdaki gibi bilgi girildiğinde  belirtilen adres bilgisine ping atılarak sayfa yönledirme işlemi yapılmıştır.
    Komut enjeksiyon açığının bulunması saldırganın bu işlemi gerçekleştirmesini sağlamaktadır.
</div>