<div>
    <div class="u" style="text-align:left">
        <img id="profile-img" class="profile-img-card" src="/img/KomutinjectionOnleme.png" />
    </div>
    <br />
</div>
<p>Yukarıda görüldüğü gibi texbox aracılığyla alınan name parametresi HttpUtility.HtmlAttributeEncode() kullanılarak
 tırnak işaretleri("),işaretciler(&) ve sol köşeli parantezler("<") eşdeğer  karakter varlıklarına dönüştürülerek Process.starta işlenmiştir.
 Bu durum saldırganların birleşik komut kullanımının önnüne geçmektedir.</p>