@{
    Layout = "~/Views/Shared/View1.cshtml";
}

<h4>1)Kurulumun yapılabileceği işletim sistemi</h4>
<p>
    Kurulum Windows işletim sistemlerinde yapılabilmektedir.Kurulum için Microsoft Visual Studio kurulmalıdır.Proje Asp.net Mvc teknolojisi ile geliştirilmiştir
    ,bu yüzden yalnızca Windows işletim sistemlerinde çalışmaktadır.
</p>
<p>
    Microsoft Visual Studio, Microsoft tarafından geliştirilen bir tümleşik geliştirme ortamıdır (IDE). Microsoft Windows, Windows Mobile, Windows CE, .NET Framework, .NET Compact Framework ve Microsoft Silverlight tarafından desteklenen tüm platformlar için yönetilen kod ile birlikte yerel kod ve Windows Forms uygulamaları, web siteleri, web uygulamaları ve web servisleri ile birlikte konsol ve grafiksel kullanıcı arayüzü uygulamaları geliştirmek için kullanılır.
    Visual Studio IntelliSense'in yanı sıra "code refactoring" destekleyen bir kod editörü içerir. Entegre hata ayıklayıcı, hem kaynak-seviyesinde hem de makine-seviyesinde çalışır. Diğer yerleşik araçlar, GUI uygulamaları, web tasarımcısı, sınıf tasarımcısı ve veritabanı şema tasarımcısı yaratabilmek için bir form tasarımcısı içerir. Hemen hemen her işlevsellik düzeyinde dahil olmak üzere, kaynak kontrol sistemleri için destek (Subversion ve Visual SourceSafe gibi) sunan eklentileri kabul eder.
    Visual Studio, değişik programlama dillerini destekler, bu da kod editörü ve hata ayıklayıcısının neredeyse tüm programlama dillerini desteklemesini sağlamaktadır. Dahili diller C/C++ (Görsel yoluyla C++), VB.NET (Visual Basic .NET üzerinden), C# (Visual C# ile), ve F# (Visual Studio 2010 itibariyle) içermektedir.
</p>
<p>Bu kurulum dökümantasyonunda Visual Studio 2013 kurulumunu anlatacağız. Öncelikle www.microsoft.com/visualstudio/tur/downloads adresine giriyoruz.</p>
<div style="text-align:left;">
    <img id="profile-img" class="profile-img-card" src="/img/Optimized-15-min.jpg" />
</div>
<br />
<p>
    Resim-1
    İndir butonuna tıklıyoruz daha sonra gelen sürümlerden indireceğimiz sürümü seçiyoruz ben VS Ultimate sürümünü seçtim.
</p>
<div   style="text-align:left;">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="~/img/6.jpg" />
</div>
<br />
<p>
    Resim-2
    Buradan iso dosyasını indirme linkine tıklıyoruz ve bizi Microsoft Live hesabı ile bağlantılı olan Visual Studio sayfasına yönlendiriyor burada Live hesabımız ile giriş yapacağız.
</p>
<div style="text-align:left">
    <img  id="profile-img" class="profile-img-card" src="~/img/7.jpg" />
</div>
<br />
<p>
    Resim-3
    Live kullanıcı adı ve parolamızı yazdıktan sonra indirme ekranımız gelmektedir.
</p>

<div style="text-align:left">
    <img id="profile-img" class="profile-img-card" src="~/img/8.jpg" />
</div>
<br />
<p>
    Resim-4
    Bu ekranda gerekli bilgileri yazıyoruz ve ülke olarak bölgemizi seçiyoruz daha sonra sağ tarafta yer alan Ultimate 2013 yazısını tıklıyoruz ve dosyamız iniyor. Dosya inerken verdiğimiz bu ekranda verdiğimiz iletişim mail adresine bir mail gönderilmektedir.
</p>
<br />
<div style="text-align:left">
    <img id="profile-img" class="profile-img-card" src="~/img/9_320x217.jpg" />
</div>
<br />
<p>
    Bu mail içeriğinde Visual Studio ortamına geldiğimiz için bir teşekkür yazısı ve Visual Studio nun sunmuş olduğu ücretsiz Team Foundation Service hesabı açabileceğimizi içeren bir bilgilendirme maili gelmektedir.
    İndirdiğimiz iso dosyasını açıyoruz.
</p>
<br />
<div style="text-align:left">
    <img id="profile-img" class="profile-img-card" src="~/img/10.jpg" />
</div>
<br />
<p>
    Resim-6
    Dosya içerisindeki vs_ultimate.exe yi çift tıklayıp kuruluma başlıyoruz.
</p>
<br />
<div style="text-align:left">
    <img id="profile-img" class="profile-img-card" src="~/img/11_320x264.jpg" />
</div>
<br />
<p>
    Resim-7
    Bu ekranda bilgisayarımızda kurulacak diskte 9.16 Gb yer olması gerektiğini ve Lisans koşullarını kabul edeceğimiz bir de Visual Studio’nun geri bildirim kalite ve kullanımına yardımcı olacağımız bir gruba katılıp katılmadığımızı soran bir seçeneğimiz mevcut gerekli yerleri işaretliyoruz.
</p>
<br />
<div style="text-align:left">
    <img id="profile-img" class="profile-img-card" src="~/img/12_320x268 (1).jpg" />
</div>
<br />
<p>
    Resim-8
    Bu ekranda gerekli gördüğümüz Tools seçeneklerini işaretleyip Install butonuna tıklıyoruz ve yüklememiz başlıyor.
</p>
<br />
<div style="text-align:left">
    <img id="profile-img" class="profile-img-card" src="~/img/13_320x310 (1).jpg" />
</div>
<br />
<p>
    Resim-9
    Yükleme işlemi bittikten sonra işlemin tamamlandığına dair ekran gelmekte ve bilgisayarımızı yeniden başlatmaktayız.
</p>
<br />
<div style="text-align:left">
    <img id="profile-img" class="profile-img-card" src="~/img/14_320x153.jpg" />
</div>
<br />
<p>Bootstrap Açık kaynak kodlu, ücretsiz bir CSS frameworktür, tasarım aracıdır. Kolayca telefonlar, tabletler ve masaüstü bilgisayarlar için farklı ve cihaz büyüklüğüne uygun şekilde sitenizin gözükmesini sağlayan temalar/tasarımlar yapabilirsiniz. Bir site için gerekli olan tüm elemenleri (form ögeleri, etiketler, tablolar, uyarı ve bilgi metinleri, navigasyon bar, sayfalandırma modülü, açılan menüler, farklı özellikte butonlar vb bir çok tasarım ögesini) içinde barındıran Bootstrap tasarım yaparken bu hazır elementleri kullanarak bütün cihazlara uygun tasarımlar geliştirmenize yarar. Yani her şeyi hazır olan kodlarla yeni bir tasarım ortaya koymak çok basit ve pratiktir. Stiller, imajlar , js’ler daha önceden sistemin içine monte edilmiştir. Sizin yapacağınız tek şey bunları çağırmaktır.Bootstrap 3 sürümü, Chrome, Safari, Firefox, Internet Explorer, Opera gibi neredeyse tüm popüler web tarayıcılarının son sürümlerinde sorunsuz çalışıyor.</p>

<p>
    Projeye jQuery Ekleme

    Dosyayı ASP.NET MVC  ile oluşturduğumuz projeye ekleyeceğiz.

    Bir projeye jQuery eklemek oldukça basit bir işlemdir. Birkaç yöntemi vardır.

    İlk olarak jquery.com adresini ziyaret edin.
</p>
<br />
<div style="text-align:left">
    <img  id="profile-img" class="profile-img-card" src="~/img/33_640x240_320x120.jpg" />
</div>
<br />
<p>"Download" düğmesine tıklayın.</p>

<div  style="text-align:left">
    <img style="height:500px; width:550px;" id=" profile-img" class="profile-img-card" src="~/img/34.jpg" />
</div>
<br />
<p>jQuery'nin 2inci versiyonuna gelin. 2.0.3 sürümünü indireceğiz; fakat şu an siz daha yüksek bir versiyonunu görüyor olmalısınız. "compressed" ve "uncompressed" olmak üzere iki farklı versiyonu olduğunu fark edeceksiniz. Aslında bu iki dosyada aynı. "compressed" olan "minified" edilmiş sürümüdür. Yani sıkıştırılmış. "uncompressed" ise daha büyük boyutludur; fakat geliştiriciler için idealdir. Biz de şu an bir geliştirici amacıyla hareket ettiğimiz için "uncompressed" sürümünü indireceğiz.</p>
<br />
<div style="text-align:left">
    <img id="profile-img" class="profile-img-card" src="~/img/35_320x250.jpg" />
</div>
<br />

<p>"uncompressed" bağlantısına tıkladıktan sonra böyle bir sayfa açılmış olmalı. Farenizle sağa tıklayın ve "Farklı kaydet"i seçin ve dosyayı masaüstüne kaydedin. Masaüstünüzde jquery-2.x.x.js isimli bir dosya olmalı.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="~/img/36.jpg" />
</div>
<br />
<p>Masaüstüne indirdiğiniz jQuery dosyasını sürükle - bırak yöntemi ile projenizdeki Scripts klasörünün içine bırakın.</p>
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="~/img/37.jpg" />
</div>
<br />
<p>jQuery dosyanız bu şekilde Scripts klasörünüzün içinde olmalı.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="~/img/38.jpg" />
</div>
<br />
<p>Tekrar sürükle - bırak yöntemi ile Scripts klasöründeki jQuery dosyanızı </title> etiketinizin yanına bırakın. Artık jQuery dosyamız projemize tam anlamıyla dahil oldu. Bu ilk yöntemdi.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="~/img/39.jpg" />
</div>
<br />
<p>İkinci yöntem jQuery yolunu </body> kapatma etiketinden önce tanımlamaktır. Birçok web geliştiricisine göre bu şekilde sayfaların daha hızlı açıldığı söylenmektedir. Ben ahım şahım bir açılış farkı görmedim; fakat </body> kapatma etiketinden önce kullanmadığım için çalışmayan uygulamalarım oldu ve sebebini bulmak oldukça baş ağrıtıcıydı. Eğer siz de ileride böyle bir sorunla karşılaşırsanız jQuery ile birlikte tüm script kodlarınızı body'nin kapatma etiketinden önce tanımlayın.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="~/img/40.jpg" />
</div>
<br />
<p>
    Son ekleme yöntemi Google ya da jQuery'nin resmî snippet'larını kullanmaktır. Eğer Google snippet'larını kullanmak istiyorsanız Google Developers adresine gidin ve snippet'ın adresini projenizde tanımlayın. jQuery'nin snippet'larını kullanmak istiyorsanız jQuery CDN adresine gidin ve 2.x.x sürümünün "minified" versiyonunu seçin. Açılan sayfanın adresini, adres çubuğundan kopyalayın ve aşağıda gördüğünüz formatta
    <head>
        etiketi içinde tanımlayın.
</p>
<br />
<div style="text-align:left">
    <img  id="profile-img" class="profile-img-card" src="~/img/41.jpg" />
</div>
<br />
		Yukarıdaki iki snippet'tan birini projenizde kullanabilirsiniz. Projenize ekledikten sonra x karakterleri yerine kullandığınız sürümü yazın. Gerekirse adreslerin çalışıp çalışmadığını tarayıcınızdan kontrol edin.

		Snippet yöntemi çok tercih edilen bir yöntem değildir; çünkü geliştirme aşamasında internet bağlantınız kesintiye uğrayabilir ve çalışmalarınız aksayabilir.
	</p>




<h4>2)Web sunucu yazılımının kurulması</h4>

<p>
    Web sunucu yazılımı olarak EntityFramework.6.1.3 kullanıldı.Entity Framework Nedir ?
    Microsoftun geliştirmiş olduğu yazılım geliştiricilerin tek tek sql sorguları yazmalarını gerektirmeyen  ve bu konuda çeşitli kolaylıklar sağlayan bir ORM (Object Relational Mapping)  framework’tür.
    ORM ise veritabanı ile nesne yönelimli programlama (OOP) arasındaki ilişkiyi kuran teknolojidir. Yani Entity Framework, nesne yönelimli programlamada veritabanındaki tablolara uygun nesneler oluşturmak için hazırlanmış teknolojidir..
</p>
<p> Entity framework‘ün  temel amacı uygulama geliştiricinin veritabanı  işlemleri ile çok uğraşmadan  uygulama tarafına odaklanmasını sağlamaktır. Çok basit bir örnek olarak, klasik ADO.NET uygulamalarında bir bağlantının açılmasından ve kapatılmasından tamamen  geliştiriciler sorumludur. Ancak Entity framework kullandığınızda bu tür işlemlere siz karışmazsınız. Sorgunuzu hazırlar ver entity framework aracılığı ile bunu veritabanına iletirsiniz..</p>
<p>
    Entity framework Nasıl Yüklenir ? (Visual Studio 2013)

    Entity frameworku yüklemenin birden fazla yöntemi var ben  Visual Studio 2013 de Entity frameworkün nasıl yüklendiğini görsellerle göstermeye çalıştım umarım işinizi görür.
</p>
<p>
    İlk yöntem
    Projemizin Referanslarına sağ tıklıyoruz ve gelen menüde Manage NuGet Packages sekmesine tıklıyoruz.
</p>
<br />
<div style="text-align:left">
    <img id="profile-img" class="profile-img-card" src="/img/1_320x223 (2).jpg" />
</div>
<br />
<p>
    Gelen Ekranda Online sekmesine tıklayarak web üzerindeki eklenti ve  paketleri görebiliyoruz
    .Net Logolu Entity Frameworku bulup Install diyoruz.
</p>
<br />
<div style="text-align:left">
    <img id="profile-img" class="profile-img-card" src="/img/2_320x205.jpg" />
</div>
<br />
<p>
    Yükleme işlemimiz bu kadar  daha sonra References sekmesine tıklayıp yüklenip yüklenmediğini kontrol edebilirsiniz .
    EntityFramework ve EntityFramework.Sqlserver  adında iki referans yüklenmiş olması gerekir.
</p>
<br />
<div style="text-align:left">
    <img id="profile-img" class="profile-img-card" src="/img/3_320x308.jpg" />
</div>
<br />
<p>
    Diğer Yöntem
    Tools Menüsüne tıklıyoruz  NuGet Package Manager Sekmesinden Package Manager Console sekmesine tıklıyoruz.
</p>
<br />
<div style="text-align:left">
    <img id="profile-img" class="profile-img-card" src="/img/4_320x244.jpg" />
</div>
<br />
<p>
    Bu işlemi gerçekleştirdikten sonra ekranın alt kısmında  Package Manager Console aktif hale gelmiş oluyor.
    Açılan Console Ekranında PM > den sonra  Install-Package EntityFramework yazdıktan sonra enter a basyıoruz ve yüklenmeye başlıyor   Yükleme başarılı olduysa consol ekranında
    Successfully added ‘EntityFramework 6.1.3’ to WindowsFormsApplication1.
    yazısını gördüğünüz zaman paket yüklenmiş oluyor
    Bu işlem gerçekleştikten sonra tekrar Referanslar kısmından yüklenip yüklenmediğini kontrol edebilirsiniz.
</p>
<br />
<div style="text-align:left">
    <img id="profile-img" class="profile-img-card" src="/img/5_320x98 (1).jpg" />
</div>
<p>Herhangi farklı bir paket veya eklentiyi de bu şekilde tam adını yazarak projemize ekleyebiliriz.</p>

<h4>3)	Veritabanı yazılımının kurulumu (MySQL vs.)</h4>

<p>
    MSSQL Veritabanı düzenli birçok verilerin toplandığı bir yapıdır. Daha geniş anlamda birbirleri ile bir şekilde ilişkili olan verilerin (tekrarsız olmak şartıyla) birçok amaç dahilinde depolanmasına imkan veren yapılara biz veritabanı diyoruz.
    Şimdi gelelim MSSQL ‘e. MSSQL Microsoft firmasının oluşturduğu bir veritabanı türüdür. Çoğu zaman MYSQL ile karıştırılabilir. MYSQL açık kaynak kodlu bir yazılım iken MSSQL bu anlamda kullanıcılara maliyetli gelebilir. Web ya da masaüstü programlamada programcılar veritabanı kullanacaklarsa eğer öncelikle bir veritabanı sistemi seçmelidir. Bu ihtiyaçlara göre değişir. Bazı programcılar programdaki yapıları gereği Access’ i seçerken, bazıları da yine programın ihtiyaçları gereği MSSQL ya da MYSQL gibi veritabanı sistemlerinden birini seçerler. Yani MSSQL aslında bir veritabanı türüdür.
</p>
<p>
    1) Öncelikle .iso formatında indirdik, eğer Dvd’ye yazdırmadan sanal disk ile kullanmak isterseniz Daemon Tools Lite programını kullanabilirsiniz.
    2) Programın setup’ını çalıştırıyoruz ve kuruluma başlıyoruz. Karşımıza çıkan ekranda yapma istediğimiz işlemler için seçenekler var. Installation seçeneğine tıklıyoruz, ardından çıkan bölümde ilk sıradaki New SQL Server kısmına tıklıyoruz.
</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/16.jpg" />
</div>
<br />
<p>3) Burada bizden versiyon seçmemizi istiyor. Eğer ticari amaçlı kullanacaksak key alanını doldurmak zorundayız. Deneme sürümü ise olduğu gibi bırakıyoruz ve ardından Next butonuna basıyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/17.jpg" />
</div>
<br />
<p>4) Lisans sözleşmesi bölümünde resimdeki kısmı işaretleyip kabul ediyoruz, eğer isterseniz kullanım bilgilerinizi de Microsoft ile paylaşabilirisiniz. Ben o kısmı işaretlemeden geçiyorum. Next butonuna basıyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/18.jpg" />
</div>
<br />
<p>5) Bu kısımda bilgisayarımızın kurulum için gerekli yazılımların yüklü olup olmadığı kontrol ediliyor. Mesela benim bilgisayarımın, güncelleme nedeniyle yeniden başlaması gerektiği konusunda uyarı çıktı. Bende bilgisayarı yeniden başlatıp yeniden kuruluma geçtim. Hata yoksa burayı otomatik olarak geçiyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/19.jpg" />
</div>
<br />
<p>6) Bu ekranda yine yükleme için gerekli şartların karşılanıp karşılanmadığı kontrol ediliyor. Bize Güvenlik Duvarı uyarısı verdi bu şimdilik önemli değil burayı es geçiyoruz. Next butonuna basıp devam ediyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/20.jpg" />
</div>
<br />
<p>7) SQL Server özelliklerini yüklemek için ilk kutucuk işaretli geliyor. Next diyor ve devam ediyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/21.jpg" />
</div>
<br />
<p> 8) Bu ekranda yüklenmesini istediğimiz SQL Server özelliklerini seçiyoruz. Biz dersler için Select All butonuna tıklıyoruz. Next butonuna tıklayarak ilerliyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/22.jpg" />
</div>
<br />
<p>9) Bu ekranda Instance kurulumunu yaparken önemli bir nokta var. Eğer daha önce bir SQL Server sürümü yüklediyseniz Installed Instance kısmında daha önce tanımladığınız Instance‘i görürüsünüz. Default Instance kısmını seçtiğinizde bu aynı isimde kullanım olduğu hatasını alabilirsiniz. Bu durumda Named Instance kısımına tıklayarak ismi değiştirebilirsiniz. Eğer hata yok ise Next butonuna tıklayarak devam ediyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/23.jpg" />
</div>
<br />
<p>10) Bu ekranda SQL Server hizmetlerine otomatik veya elle başlatma türlerini atayabiliyoruz. Bu kısımı ihtiyaç halinde SQL Server Configuration Manager ile değiştirebiliriz. Collation sekmesinde ise dil ile ilgili uyumluluk ayarlarını yapabiliyoruz. Next butonuna tıklayarak geçiyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/24.jpg" />
</div>
<br />
<p>11) Bu kısımda Database Engine‘e bağlantı tercihimizi seçiyoruz. Yetkilendirme işlemi için eğer Windows authentication mode seçilirse Windows kullanıcı hesabı ile giriş yapabiliyoruz. Mixed Mode seçilirse SQL Server System Administrator (sa) kullanıcı adına şifre atabiliyoruz. Bu sayede iki şekilde de sisteme giriş yapmak mümkün oluyor. Bu ayarı yaptıktan sonra sisteme administrator yetkisi vereceğimiz hesabı Add Current User butonuna tıklayarak ekliyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/25.jpg" />
</div>
<br />
<p>12) Data Directories kısmında yazlımın yüklendiği dizinleri yönetebiliyoruz. FILESTREAM kısmında ise dosya sıkıştırma özelliğini aktif edebiliriz. Bu kısımları geçiyoruz. Next butonuna tıklayarak ilerliyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/26.jpg" />
</div>
<br />
<p> 13) Bu ekranda varsayılan olarak veri madenciliği seçili geliyor. Anaylize Services için yine admin yetkisi vereceğimiz hesabı Add Current User butonuna tıklayarak ekliyoruz. Data Directories kısmını dizin ayarları yapmamızı sağlıyor, bu kısmı da es geçiyoruz. Next butonuna tıklayarak ilerliyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/27.jpg" />
</div>
<br />
<p>14) Distributed Replay Controller kısmında yetkilendirme yapabilir veya burayı geçebilirsiniz. Next butonuna basarak bu kısmı da geçiyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/28.jpg" />
</div>
<br />
<p>15) Distributed Replay Client kısmında çalışma dizini düzenlemesi yapabiliriz. Burayı da Next butonuna tıklayarak geçiyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/29.jpg" />
</div>
<br />
<p>16) Artık SQL Server kuruluma hazır. Burada tüm ayarlarımızın bir dökümünü görüyoruz. Son olarak Install butonuna tıklıyoruz ve kurulumu başlatıyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/30.jpg" />
</div>
<br />
<p>17) Kurulum başarıyla tamamlandı. Yüklemelerimizi toplu olarak ekranda görebiliyoruz.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/31.jpg" />
</div>
<br />
<p>18) Ve SQL Server Management Studio‘yu başlatınca bizi bu ekran karşılıyor.</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="/img/32.jpg" />
</div>
<br />
<h4>4)Veritabanının kurulumu (bunun için bir SQL dosyası sağlanmalıdır)</h4>

<p>
    İlk olarak projemiz üzerinde sağ tıklıyoruz ve  Add New Item diyoruz. Karşımıza aşağıdaki görseldeki gibi bir görüntü gelecektir.
</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="~/img/42.jpg" />
</div>
<br />
<p>
    Buradan ADO.NET Entity Data Model seçiyoruz ve Name kısmından oluşturacağımız Entity Framework'e isim veriyoruz. Ben FirmaEF ismini verdim. İsim verdikten sonra Add diyoruz.
    Karşımıza çıkan aşağıdaki görseldende gördüğünüz gibi Entity Data Model Wizard penceresidir.
</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="~/img/43.jpg" />
</div>
<br />
<p>
    Buradan New Connection butonuna tıklıyoruz. Gelen pencere Connection Properties görselindeki gibidir.
</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="~/img/44.jpg" />
</div>
<br />
<p>
    Buradan Server name alanından kullanılan Server'ı seçiyoruz. Ardından alt kısımda bulunan Connect to a database üzerinden Select or enter a database name radio butonunu seçili hale getiriyoruz. Buradan kullanacağımız veritabanını seçiyoruz. Artık Test Connection diyerek bağlantımızı test edebiliriz. Test ettikten sonra Ok butonuna tıklıyoruz.
</p>
<br />
<div style="text-align:left">
    <img  style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="~/img/45.jpg" />
</div>
<br />
<p>
    Gelen pencerede next butonuna tıkladıktan sonra karşımıza Choose your database object görselindeki gibi bir pencere gelecektir. Buradan Entity Framework üzerine eklemek istediğimiz objeleri seçiyoruz. Ben şu an sadece tablolara sahip olduğum için tüm tablolarımı seçtim. Son olarak Finish diyoruz ve Entity Framework projemize eklenmiş oluyor. Ekranda Entity Framework Hazır görselindeki gibi bir görüntü gelecektir. Burada eklemiş olduğunuz tablolar görüntülenecektir.

</p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="~/img/46.jpg" />
</div>
<br />
<h4>5)	Uygulamanın kurulumu</h4>

<p>Öncelikle proje dosyasını Dosya sekmesinden aç sekmesine tıklıyoruz.Proje/Çözüm sekmesine tıklayarak proje dosyasımızı seçip çalıştırıyoruz. Kısayol olarak Ctrl+Shift+O ile de bu işlemi yapabiliriz. </p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="~/img/47.png" />
</div>
<br />
<p> Daha sonra alttaki resimdeki gibi  programı çalıştırıyoruz. </p>
<br />
<div style="text-align:left">
    <img style="height:500px; width:550px;" id="profile-img" class="profile-img-card" src="~/img/48.png" />
</div>


