<div>
    <br />
    <div class="u" style="text-align:left">
        <img id="profile-img" class="profile-img-card" src="/img/Sqlinjecitonnasılonlenir.png" />
    </div>
    <br />
    Yukarıda görüldüğü gibi textBox aracılığıyla alınan name parametresi parametreleştirilmiş sql sorgusundan geçirilerek kullanılmıştır.
    Bu yöntem Sql sorgusu çalıştırılmadan önce  bağımsız değişkenlerin uyugun şekilde değiştirilmesini sağlar.Genel enjeksiyona ek olarak
    parametrelenmiş sorgularla sorgunun anlamını değiştiren  "kirli" girdi tamamen kaldırılır.Sayıların tarih ve saatlaerin tamamını ele geçirirsiniz
</div>
