<div>
    <div class="u" style="text-align:left">
        <img id="profile-img" class="profile-img-card" src="/img/sqlinjectionnedenikod.png" />
    </div>
    <br />
    Bunun sebebi çoğunlukla yazılım içi güvenlik önlemlerinin alınmamasıyla alakalı bir durumdur.
    Yukarıda görüldüğü gibi Textbox aracılığıyla alınan name parametresi herhangi bir filtreleme ve kontrol işleminde gerçekleştirilmeden
    sql kısmında kullanıldı için sql injectiona maruz kalmaktadır.Saldırgan texbox kısmına aşağıdaki gibi komut yazdığında girdi direk sql kısmına 
    eklenir.Bu sonuncunda aşagıdaki gibi ilgili sutunlardaki tüm değerlerin döndürülmesi sağlamaktadır
    <br /> 
  <h5 style="font-weight:bold">99 or 1=1</h5>
    <div class="u" style="text-align:left">
        <img  id="profile-img" class="profile-img-card" src="/img/nedeni.png" />
    </div>
</div>
