<div>
    <br />
    <h5 style="font-weight:bold;">SOMÜRME</h5>
    <div class="well">
        <img id="profile-img" class="profile-img-card" src="/img/xss1.png" />        
    </div>
    <br />
    <div class="u" style="text-align:left">
        <img id="profile-img" class="profile-img-card" src="/img/xss2.png" />
    </div>
    <br />
    Kullanıcı yukarıdaki içeriği "Yorum" kısmına yazıp gönderdiğinde veritabanına kaydedilir. Daha sonra kaydedilen içerik bir web sayfasında işlendiğinde senaryoyu yürütür! 
    Sayfa görüntülendiğinde aşağıdaki gibi bir olay gerçekleşir.
    <br />
    <br />
    <div class="u" style="text-align:left">
        <img id="profile-img" class="profile-img-card" src="/img/xss3.png" />
    </div>
    <br />
    Yukarıdaki örnekte gösterilenler, çapraz site komut dosyası çalıştırma saldırısının  bir versiyonudur. 
</div>
